[project]
	description = A template falcon project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tin Lam (stannum-l)
[access "refs/for/refs/*"]
	read = group user/Tin Lam (stannum-l)
	push = group user/Tin Lam (stannum-l)
	label-Code-Review = -2..+2 group user/Tin Lam (stannum-l)
	label-Verified = -1..+1 group user/Tin Lam (stannum-l)
        label-Workflow = -1..+1 group user/Tin Lam (stannum-l)
	rebase = group user/Tin Lam (stannum-l)
	removeReviewer = group user/Tin Lam (stannum-l)
	submit = group user/Tin Lam (stannum-l)
[access "refs/heads/*"]
	read = group nautilus-core
	read = group user/Tin Lam (stannum-l)
	create = group user/Tin Lam (stannum-l)
	push = +force group user/Tin Lam (stannum-l)
	pushMerge = group user/Tin Lam (stannum-l)
	label-Code-Review = -2..+2 group nautilus-core
	label-Code-Review = -1..-1 group Registered Users
[access "refs/tags/*"]
	push = group user/Tin Lam (stannum-l)
	push = +force group user/Tin Lam (stannum-l)
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
